//
// Services Section
//

@import "styles/styles";

.services-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
  margin-bottom: 40px;
  @media (max-width: 992px) {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  @media (max-width: 767px) {
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
    margin-bottom: 20px;
  }
  @media (max-width: 576px) {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

  }
  grid-gap: 40px;
  align-items: stretch;
}
