//
// Trust Section
//

@import "styles/styles";

section {
  @media (max-width: 767px) {
    :global(.#{$prefix}-row:last-child) :global(.#{$prefix}-button) {
      width: 100%;
    }
  }
}

.trust-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

  &.open {
    margin-bottom: 0 !important;
  }
  @media (max-width: 1300px) {
    margin-bottom: -80px;
  }
  @media (max-width: 992px) {
    margin-bottom: -160px;
  }
  @media (max-width: 767px) {
    margin-bottom: -40px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
  @media (max-width: 560px) {
    margin-bottom: -80px;
  }
  @media (max-width: 420px) {
    margin-bottom: -160px;
  }
  @media (max-width: 280px) {
    margin-bottom: -380px;
  }
  transition: all 0.3s ease;
  grid-gap: 40px;
}
